{% extends "base.html" %}

{% block content %}
<header class="site-header">
        <h1>COVID-19</h1>
        <p style='text-align:center'>Помогаем узнать больше</p>
        <img src="/static/img/min.png" width="559" height="259" alt="Фото">
</header>
    <h1>Авторизация</h1>
    <link rel="stylesheet" href="/static/css/style.css">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="login") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
<body background="/static/img/3.jpg">
</body>
{% endblock %}