{% extends "base.html" %}

{% block content %}
<header class="site-header">
        <h1>COVID-19</h1>
        <p style='text-align:center'>Помогаем узнать больше</p>
        <img src="/static/img/min.png" width="559" height="259" alt="Фото">
</header>
<h1>Ближайшие аптеки</h1>
<link rel="stylesheet" href="/static/css/style.css">
<img src="/static/img/apteka.png" width="600" height="400" alt="Фото аптек" class="center-img" />
      <section class="skills">
        <h2>Что это значит?</h2>
        <ul class="skills-list">
            <li class="green">круглосуточные</li>
            <li class="blue">некруглосуточные</li>
            <li class="grey">данные отсутствуют</li>
        </ul>
      </section>
<body background="/static/img/2.jpg">
</body>
{% endblock %}